<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="{{url_for('static', filename='styles/style2.css')}}" rel="stylesheet" />
</head>

<body>
    <div id="Wrapper">
        <div id="background">
            <div id="Nav">
                <div id="Logo">
                    <img src="https://www.freeiconspng.com/uploads/building-icon-25.png">
                    <p>Corporations</p>
                </div>

                <div id="menu">

                    <div id="Home">
                        <a href="{{ url_for('home') }}" target="_self">
                            Home
                        </a>
                    </div>

                    <div id="Selection">
                        <a href="{{ url_for('applications') }}" target="_self">
                            Apps
                        </a>
                    </div>

                    <div id="About">
                        <a href="">
                            About
                        </a>
                    </div>

                    <div id="Support">
                        <a href="">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Question_mark_white.png">
                        </a>
                    </div>
                </div>
            </div>



            <div id="title">
                <h1>Applications</h1>
            </div>

            <div id="Container">
                <div class="application application-1">
                    <img
                        src="https://play-lh.googleusercontent.com/-8wkZVkXugyyke6sDPUP5xHKQMzK7Ub3ms2EK9Jr00uhf1fiMhLbqX7K9SdoxbAuhQ">
                    <p> OpenWeatherMap is an online service, that provides global weather data via API,
                        including current weather data, forecasts, nowcasts, and historical weather data. </p>

                    <button id="weather_button" onclick="window.location.href='{{ url_for('weather1') }}'">Open Weather
                        App</button>
                </div>
                 <div class="application application-2">
                    <a href="{{ url_for('currency') }}" target="_self">
                        <button id="currency_button">Open Currency App</button>
                    </a>
                </div>

                <div class="application application-3">
                    <img id="nintendo_img"
                        src="https://cdn.freebiesupply.com/logos/large/2x/nintendo-2-logo-png-transparent.png">
                    <p>Nintendo is a japanese multinational video game company</p>
                    <button id="nintendo_button" onclick="runTetris()">Nintendo Game</button>

                    <button id="nintendo_button" onclick="window.location.href='https://www.nintendo.com/'">Visit
                        Nintendo</button>

                </div>

                <div class="application application-4">
                    <img id="SnakeGame.jpg" src="https://www.coolmathgames.com/sites/default/files/styles/mobile_game_image/public/Snake_OG-logo.jpg.webp?itok=EOKYMydV">
                    <p>Chase after the apples but don't hit the wall</p>
                    <button id="snanke_button" onclick="runSnake()">Snake Game</button>
                </div>
                <div class="application application-5">
                 <img id="flappy-bird-2024-header"
                src="https://iphonesoft.fr/images/2024/09/flappy-bird-2024-header.jpg">
                <p> Flappy Bird is a game where a bird tries to fly through the gaps in pipes</p>
                   <button id="flappy_bird_button" onclick="runFlappyBird()">Flappy Bird Game</button>
                </div>
            </div>

        </div>

    </div>
<script>
    function runTetris() {
        fetch('/run-tetris')
    }
    function runSnake(){
        fetch('/run-snake')
    }
    function runFlappyBird() {
        fetch('/run-flappy-bird')
    }
</script>
</body>

</html>