<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>
</head>

<body>
    <div id="Wrapper">
        <div id="Background">
            <div id="Nav">
                <img src="https://www.freeiconspng.com/uploads/building-icon-25.png">
                <p>Corporations</p>
            </div>

            <div id="menu">

                <div id="Home">
                    <a href="{{ url_for('home') }}" target="_self">
                         Home
                    </a>
                </div>
                    
                <div id="Selection">
                    <a href="{{ url_for('applications') }}" target="_self">
                        Apps
                    </a>
                </div>
                    
                <div id="About">
                    <a href="">
                        About
                    </a>
                </div>

                <div id="Support">
                    <a href="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Question_mark_white.png">
                    </a>
                </div>

            </div>  

            <div id="title">
                <h1>Corporations Central</h1>
                <a href="{{ url_for('applications') }}" target="_self">
                    <button id="Transfer_button">Learn more</button>
                </a>
            </div>

        </div>
    </div>
</body>
</html>